<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Aseguradora.UI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Poliza">
                <span class="oi oi-plus" aria-hidden="true"></span> Agregar Poliza
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListarPoliza">
                <span class="oi oi-shield" aria-hidden="true"></span> Listar Polizas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Siniestro">
                <span class="oi oi-plus" aria-hidden="true"></span> Agregar Siniestro
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListarSiniestro">
                <span class="oi oi-pulse" aria-hidden="true"></span> Listar Siniestros
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Tercero">
                <span class="oi oi-plus" aria-hidden="true"></span> Agregar Tercero
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListarTercero">
                <span class="oi oi-people" aria-hidden="true"></span> Listar Terceros
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Vehiculo">
                <span class="oi oi-plus" aria-hidden="true"></span> Agregar Vehiculo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListarVehiculo">
                <span class="oi oi-wrench" aria-hidden="true"></span> Listar Vehiculos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Titular">
                <span class="oi oi-plus" aria-hidden="true"></span> Agregar Titular
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListarTitular">
                <span class="oi oi-people" aria-hidden="true"></span> Listar Titulares
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
