@page "/Tercero/{IdR:int?}"
@inject AgregarTerceroUseCase AgregarTerceroUseCase;
@inject ObtenerTerceroUseCase ObtenerTerceroUseCase;
@inject ModificarTerceroUseCase ModificarTerceroUseCase;
@inject ListarSiniestrosUseCase ListarSiniestrosUseCase;
@inject NavigationManager Navegador;

<PageTitle>Terceros</PageTitle>
@if(_nuevoTercero)
{
    <h1>Agregar Tercero</h1>
}else{
    <h1>Modificando Tercero @_tercero.ID</h1>
}
<div class="divPrincipal">
    <div class="divD">
        <p class="divP">DNI: </p>
        <input @bind="_tercero.DNI" class="form-control">
        <br/>
    </div>
    <div class="divD">
        <p class="divP">Apellido: </p>
        <input @bind="_tercero.Apellido" class="form-control">
        <br/>
    </div>
    <div class="divD">
        <p class="divP">Nombre: </p>
        <input @bind="_tercero.Nombre" class="form-control">
        <br/>
    </div>
    <div class="divD">
        <p class="divP">Telefono: </p>
        <input @bind="_tercero.Telefono" class="form-control">
        <br/>
    </div>
    <div class="divD">
        <p class="divP">Aseguradora: </p>
        <input @bind="_tercero.Aseguradora" class="form-control">
        <br/>
    </div>
    <div class="divD">
        <p class="divP">ID siniestro: </p>
        <InputSelect @bind-Value="_tercero.Siniestro" class="form-control">
            @foreach (var sin in _listaSiniestros)
            {
                <option value=@sin.ID>@sin.ID</option>
            }
        </InputSelect>
        <br/>
    </div>
</div>
@if (_nuevoTercero)
{
    <button class="btn btn-primary" @onclick="Comprobar">Agregar</button>
}else{
    <button class="btn btn-primary" @onclick="Comprobar">Modificar</button>
}

<DialogoConfirmacion @ref=Dialogo OnConfirmado="()=>{}"/>

@code{
    DialogoConfirmacion? Dialogo;
    private Tercero _tercero = new Tercero(0,"","","",0);
    [Parameter] public int? IdR { get; set; }
    bool _nuevoTercero = true;
    List<Siniestro> _listaSiniestros = new();
    protected override void OnInitialized()
    {
        _listaSiniestros = ListarSiniestrosUseCase.Ejecutar();
    }
    
    protected override void OnParametersSet()
    {
        if(IdR != null)
        {
            Tercero? terHallado = ObtenerTerceroUseCase.Ejecutar(IdR.Value);
            if(terHallado!=null)
            {
                _tercero = terHallado;
                _nuevoTercero = false;
            }
        }
    }
    private void Comprobar()
    {
        try{
            if(_nuevoTercero)
            {
                AgregarTerceroUseCase.Ejecutar(_tercero);
            }else{
                ModificarTerceroUseCase.Ejecutar(_tercero);
            }
            Navegador.NavigateTo("/ListarTercero");
        }catch (Exception e){
            if(Dialogo!=null)Dialogo.Mensaje = e.Message;
            Dialogo?.Mostrar();
        }
    }
}

