@page "/Poliza/{IdRecivido:int?}"
@inject AgregarPolizaUseCase AgregarPolizaUseCase;
@inject ObtenerPolizaUseCase ObtenerPolizaUseCase;
@inject NavigationManager Navegador;

<PageTitle>Polizas</PageTitle>
@if(_nuevaPoliza)
{
    <h1>Agregar Poliza</h1>
}else{
    <h1>Modificando Poliza @_poliza.ID</h1>
}

<div class="divPrincipal">
    <div class="divD">
        <p class="divP">ID Vehiculo: </p>
        <input @bind="_poliza.VehiculoAsegurado" class="form-control">
        <br/>
    </div>
    <div class="divD">
        <p class="divP">Valor Asegurado: </p>
        <input @bind="_poliza.ValorAsegurado" class="form-control">
        <br/>
    </div>
    <div class="divD">
        <p class="divP">Franquicia: </p>
        <input @bind="_poliza.Franquicia" class="form-control">
        <br/>
    </div>
    <div class="divD">
        <p class="divP">Cobertura: </p>
        <InputSelect @bind-Value="_poliza.Cobertura" class="form-control">
            <option value="Todo Riesgo">Todo Riesgo</option>
            <option value="Responsabilidad Civil">Responsabilidad Civil</option>
        </InputSelect>
        <br/>
    </div>
    <div class="divD">
        <p class="divP">Vencimiento: </p>
        <InputDate style="width:100%;" @bind-Value="_poliza.VigenteHasta"/>
        <br/>
    </div>
</div>
<button class="btn btn-primary" @onclick="Comprobar">Agregar</button>

<DialogoConfirmacion @ref=Dialogo OnConfirmado="()=>{}"/>

@code{
    DialogoConfirmacion? Dialogo;
    private Poliza _poliza = new Poliza();

    [Parameter] public int? IdRecivido { get; set; }

    bool _nuevaPoliza = true;
    protected override void OnParametersSet()
    {
        if(IdRecivido != null)
        {
            Poliza? polHallada = ObtenerPolizaUseCase.Ejecutar(IdRecivido.Value);
            if(polHallada!=null)
            {
                _poliza = polHallada;
                _nuevaPoliza = false;
            }
        }
        if(_nuevaPoliza){
            _poliza.VigenteHasta = DateTime.Now.AddYears(1);
            _poliza.Cobertura = "Responsabilidad Civil";
            _poliza.Franquicia = "";
        }
    }
    private void Comprobar()
    {
        _poliza.VigenteDesde = DateTime.Now;
        try{
            AgregarPolizaUseCase.Ejecutar(_poliza);
            Navegador.NavigateTo("/ListarPoliza");
        }catch(Exception e){
            if(Dialogo!=null) Dialogo.Mensaje = e.Message;
            Dialogo?.Mostrar();
        }
    }
}
