@page "/Siniestro/{IdR:int?}"
@inject AgregarSiniestroUseCase AgregarSiniestroUseCase;
@inject ObtenerSiniestroUseCase ObtenerSiniestroUseCase;
@inject ObtenerPolizaUseCase ObtenerPolizaUseCase
@inject NavigationManager Navegador;

<PageTitle>Siniestros</PageTitle>
@if (_nuevoSiniestro)
{
    <h1>Agregar Siniestro</h1>
}
else
{
    <h1>Modificando Siniestro @_siniestro.ID</h1>
}

<div class="divPrincipal">
    <div class="divD">
        <p class="divP">ID Poliza: </p>
        <input @bind="_siniestro.Poliza" class="form-control">
        <br />
    </div>
    <div class="divD">
        <p class="divP">Fecha Ocurrencia: </p>
        <InputDate style="width:100%;" @bind-Value="_siniestro.FechaOcurrencia" />
        <br />
    </div>
    <div class="divD">
        <p class="divP">Dirección del hecho: </p>
        <input @bind="_siniestro.DireccionDelHecho" class="form-control">
        <br />
    </div>
    <div class="divD">
        <p class="divP">Descripción: </p>
        <input @bind="_siniestro.DescripcionDelHecho" class="form-control">
        <br />
    </div>
</div>
<button class="btn btn-primary" @onclick="Comprobar">Agregar</button>

<DialogoConfirmacion @ref=Dialogo OnConfirmado="()=>{}" />

@code {
    DialogoConfirmacion? Dialogo;
    private Siniestro _siniestro = new Siniestro();
    [Parameter] public int? IdR { get; set; }
    bool _nuevoSiniestro = true;
    protected override void OnParametersSet()
    {
        if (IdR != null)
        {
            Siniestro? sinHallado = ObtenerSiniestroUseCase.Ejecutar(IdR.Value);
            if (sinHallado != null)
            {
                _siniestro = sinHallado;
                _nuevoSiniestro = false;
            }
        }
        if (_nuevoSiniestro)
        {
            // cosas default
            _siniestro.FechaOcurrencia = DateTime.Now;
        }
    }
    private void Comprobar()
    {
        _siniestro.FechaCargaSistema = DateTime.Now;
        Poliza? pol = ObtenerPolizaUseCase.Ejecutar(_siniestro.Poliza);
        if(pol!=null)
        {
            if(pol.VigenteHasta.CompareTo(_siniestro.FechaCargaSistema) > 0)
            {
                AgregarSiniestroUseCase.Ejecutar(_siniestro);
                Navegador.NavigateTo("/ListarSiniestro");
            }else{
                if(Dialogo!=null) Dialogo.Mensaje = "La póliza está vencida";
                Dialogo?.Mostrar();
            }
        }else{
            if (Dialogo != null) Dialogo.Mensaje = "La póliza no existe";
            Dialogo?.Mostrar();
        }
    }
}
