@page "/Siniestro/{IdR:int?}"
@inject AgregarSiniestroUseCase AgregarSiniestroUseCase;
@inject ObtenerSiniestroUseCase ObtenerSiniestroUseCase;
@inject ModificarSiniestroUseCase ModificarSiniestroUseCase;
@inject ListarPolizasUseCase ListarPolizasUseCase;
@inject NavigationManager Navegador;

<PageTitle>Siniestros</PageTitle>
@if (_nuevoSiniestro)
{
    <h1>Agregar Siniestro</h1>
}
else
{
    <h1>Modificando Siniestro @_siniestro.ID</h1>
}

<div class="divPrincipal">
    <div class="divD">
        <p class="divP">ID Poliza: </p>
        <InputSelect @bind-Value="_siniestro.PolizaID" class="form-control">
            @foreach (var poli in _listaPolizas)
            {
                <option value=@poli.ID>@poli.ID</option>
            }
        </InputSelect>
        <br />
    </div>
    <div class="divD">
        <p class="divP">Fecha Ocurrencia: </p>
        <InputDate style="width:100%;" @bind-Value="_siniestro.FechaOcurrencia" />
        <br />
    </div>
    <div class="divD">
        <p class="divP">Dirección del hecho: </p>
        <input @bind="_siniestro.DireccionDelHecho" class="form-control">
        <br />
    </div>
    <div class="divD">
        <p class="divP">Descripción: </p>
        <input @bind="_siniestro.DescripcionDelHecho" class="form-control">
        <br />
    </div>
</div>
@if(_nuevoSiniestro)
{
    <button class="btn btn-primary" @onclick="Comprobar">Agregar</button>
}else{
    <button class="btn btn-primary" @onclick="Comprobar">Modificar</button>
}


<DialogoConfirmacion @ref=Dialogo Mensaje="@msj" OnConfirmado="()=>{}" />

@code {
    DialogoConfirmacion? Dialogo;
    string msj = "";
    private Siniestro _siniestro = new Siniestro();
    [Parameter] public int? IdR { get; set; }
    bool _nuevoSiniestro = true;
    List<Poliza> _listaPolizas = new();
    protected override void OnInitialized()
    {
        _listaPolizas = ListarPolizasUseCase.Ejecutar();
    }
    
    protected override void OnParametersSet()
    {
        if (IdR != null)// si se recibe un parametro se intenta cargar la informacion de la entidad para modificarla
        {
            Siniestro? sinHallado = ObtenerSiniestroUseCase.Ejecutar(IdR.Value);
            if (sinHallado != null)
            {
                _siniestro = sinHallado;
                _nuevoSiniestro = false;
            }
        }
        if (_nuevoSiniestro)
        {
            // cosas default
            _siniestro.FechaOcurrencia = DateTime.Now;
        }
    }
    private void Comprobar()
    {
        try{
            if(_nuevoSiniestro)
            {
                AgregarSiniestroUseCase.Ejecutar(_siniestro);
            }else{
                ModificarSiniestroUseCase.Ejecutar(_siniestro);
            }
            Navegador.NavigateTo("/ListarSiniestro");
        }catch(Exception e){
            msj = e.Message;
            Dialogo?.Mostrar();
        }
        
    }
}


