@page "/Tercero/{IdR:int?}"
@inject AgregarTerceroUseCase AgregarTerceroUseCase;
@inject ObtenerTerceroUseCase ObtenerTerceroUseCase;
@inject ObtenerSiniestroUseCase ObtenerSiniestroUseCase;
@inject NavigationManager Navegador;

<PageTitle>Terceros</PageTitle>
@if(_nuevoTercero)
{
    <h1>Agregar Tercero</h1>
}else{
    <h1>Modificando Tercero @_tercero.ID</h1>
}
<div class="divPrincipal">
    <div class="divD">
        <p class="divP">DNI: </p>
        <input @bind="_tercero.DNI" class="form-control">
        <br/>
    </div>
    <div class="divD">
        <p class="divP">Apellido: </p>
        <input @bind="_tercero.Apellido" class="form-control">
        <br/>
    </div>
    <div class="divD">
        <p class="divP">Nombre: </p>
        <input @bind="_tercero.Nombre" class="form-control">
        <br/>
    </div>
    <div class="divD">
        <p class="divP">Telefono: </p>
        <input @bind="_tercero.Telefono" class="form-control">
        <br/>
    </div>
    <div class="divD">
        <p class="divP">Aseguradora: </p>
        <input @bind="_tercero.Aseguradora" class="form-control">
        <br/>
    </div>
    <div class="divD">
        <p class="divP">ID siniestro: </p>
        <input @bind="_tercero.Siniestro" class="form-control">
        <br/>
    </div>
</div>
<button class="btn btn-primary" @onclick="Comprobar">Agregar</button>

<DialogoConfirmacion @ref=Dialogo OnConfirmado="()=>{}"/>

@code{
    DialogoConfirmacion? Dialogo;
    private Tercero _tercero = new Tercero(0,"","","",0);
    [Parameter] public int? IdR { get; set; }
    bool _nuevoTercero = true;
    protected override void OnParametersSet()
    {
        if(IdR != null)
        {
            Tercero? terHallado = ObtenerTerceroUseCase.Ejecutar(IdR.Value);
            if(terHallado!=null)
            {
                _tercero = terHallado;
                _nuevoTercero = false;
            }
        }
    }
    private void Comprobar()
    {
        Siniestro? s = ObtenerSiniestroUseCase.Ejecutar(_tercero.Siniestro);
        if(s!=null)
        {
            if(_tercero.DNI>0 &&_tercero.Siniestro>0 &&_tercero.Nombre!="" &&_tercero.Apellido!="" &&_tercero.Aseguradora!="" &&_tercero.Telefono!="")
            {
                AgregarTerceroUseCase.Ejecutar(_tercero);
                Navegador.NavigateTo("/ListarTercero");
            }else{
                if (Dialogo != null) Dialogo.Mensaje = "Uno de los campos es invalido o está vacio";
                Dialogo?.Mostrar();
            }
        }else{
            if(Dialogo!=null) Dialogo.Mensaje = "No existe el siniestro";
            Dialogo?.Mostrar();
        }
    }
}
