@page "/"

<PageTitle>Inicio</PageTitle>

<h2><strong>Te estás portando mal, serás asegurada</strong> </h2>
<p>Hecho en colaboracion por Loyola Yanella Nicole y Macias Luciano Agustin</p>
<img src="/imagenes/nickyYlucho.png" asp-append-version="true" width="300px">
